<!doctype html>
<html>
  <head>
    {{ turbo() }}
    <title>JHU Embedded Software Project 8</title>
    <style>
      .imu {
        float: left;
        width: 400px;
        border: 1px solid black;
        margin-left: 10px;
        margin-bottom: 10px;
        padding: 10px;
      }
      .imu th, .imu td {
        padding: 6px;
        text-align: center;
      }
    </style>
  </head>
  <body>
    {% block content %}{% endblock %}
    <!-- <h2>Video Feed:</h2>
    <iframe src="URL"></iframe> -->
    <h2>Log Data:</h2>
    {% include "imu.html.jinja" %}
  </body>
</html>