<div id="imu" class="imu">
    <table>
      <tr><th></th><th>Yaw</th><th>Pitch</th><th>Roll</th></tr>
      <tr><th>IMU Data:</th><td>{{ yaw }}</td><td>{{ pitch }}</td><td>{{ roll }}</td></tr>
    </table>
  </div>