<!-- index.html.jinja -->
<!doctype html>
<html>
  <head>
    {{ turbo() }}
    <title>JHU Embedded Software Project 8</title>
    <style>
      .imu {
        float: left;
        width: 400px;
        border: 1px solid black;
        margin-left: 10px;
        margin-bottom: 10px;
        padding: 10px;
      }
      .imu th, .imu td {
        padding: 6px;
        text-align: center;
      }
    </style>
  </head>
  <body>
   <h1 style="background-color:white;">Quadracopter Data Dashboard</h1>
    <p>Welcome to the Quadcopter!</p>
    <p>Addison Hammer / Graeme Knowles</p>
    <p>EN.605.715.82.FA21</p>
    <p>Project Submission 8 - Streaming Live IMU Data</p>
    <h2>Log Data:</h2>
    {% include "imu.html.jinja" %}
  </body>
</html>