{% extends "base.html.jinja" %}

{% block content %}
   <h1 style="background-color:white;">Quadracopter Data Dashboard</h1>
    <p>Welcome to the Quadcopter!</p>
    <p>Addison Hammer / Graeme Knowles</p>
    <p>EN.605.715.82.FA21</p>
    <p>Project Submission 8 - Streaming Live IMU Data</p>
{% endblock %}