<!-- gps.html.jinja -->
<div id="gps" class="gps">
    <table>
      <tr><th></th><th>Latitude</th><th>Longitude</th><th>Altitude</th><th>Speed</th><th>Climb</th><th>Heading</th></tr>
      <tr><th>GPS Data:</th><td>{{ lat }}</td><td>{{ lon }}</td><td>{{ alt }}</td><td>{{ speed }}</td><td>{{ climb }}</td><td>{{ track }}</td></tr>
    </table>
  </div>